{% extends 'index.html' %}

{% block content %} 
	<title>LISTADO DOCENTE</title>

	


	<div class="container-fluid">
	<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DOCENTES</h6>
              
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
			
				<tr>
					<td align="center"><b>RUT</b></td>
					<td align="center"><b>Visualización</td>
			</tr>
		</thead>

			<tbody>


				{% if profesores %}
				{% for profesor in profesores %}
				{{contexto}}
				<tr>
					<td align="center">{{ profesor.RUT}}</td>
					<td align="center">{{ profesor.contador }}
      </td>
				</tr>
				{% endfor %}
				
				{% else %}
				<h1>No hay registros de docentes.</h1>

				{% endif %}
			</tbody>
			</table>
              </div>
            </div>
          </div>
           </div>
{% endblock %}
