{% extends 'index.html' %}

{% block content %} 
		<title>REGISTRAR DOCENTE</title>
		<h4>Registrar Docente</h4>
<div class="col-12" align="center">

			
		<div class="row">
		
			<div class="col-2">
				<form method='POST'>

					{% csrf_token %}
					{{ docente_form.as_p }}
					<button type="submit" class="btn btn-success">GUARDAR</button>
				</form>
			</div>

		</div>
		</div>
{% endblock %}