{% extends 'index.html' %}

{% block content %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="myfile">
		<button type="submit"> Importar Excel</button>
	</form>
{% endblock %}

