<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Reporte</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 12px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            @page {
                size: letter landscape;
                margin: 2cm;
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* outline: d IE */
                background-color: #fff; /* Modern Browsers */
            }
        </style>
    </head>






    <body>
        <img src="mantenedor/logo.png">
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Resultados de la encuesta de evaluacion docente</p>
            </div>
        <div>



                <h2 align="center">Nombre Docente : {{ profesores.0.nombre_docente}}<br></h2>
 <hr class='hrItem' />

 <div class='details'>  
                <br>Nombre Docente : {{ profesores.0.nombre_docente}}
                <br>Rut Docente : {{ profesores.0.RUT}}
                <br>E-Mail : {{ profesores.0.email}}
                <br>Sede : {{ profesores.0.sede}}
                <br>Contrato : {{ profesores.0.tipo_contrato}}
           <br><br> <hr class='hrItem' />
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><hr class='hrItem' />
<h2 align="center">RESULTADOS POR ASIGNATURAS EVALUACION ESTUDIANTES</h2>
<table>
                <thead>
                <tr>
                    <td align="center"><b>Curso</td>
                    <td align="center"><b>NRC</td>
                    <td align="center"><b>N°Alum</td>
                    <td align="center"><b>N°Resp</td>
                    <td align="center"><b>%Resp</td>
                    <td align="center"><b>%P1</td>
                    <td align="center"><b>%P2</td>
                    <td align="center"><b>%P3</td>
                    <td align="center"><b>%P4</td>
                    <td align="center"><b>%P5</td>
                    <td align="center"><b>%P6</td>
                    <td align="center"><b>%P7</td>
                    <td align="center"><b>Evaluacion</td>
            </tr>
        </thead>

<!-- HACER UN FOR QUE RECORRA LOS CURSOS DE ESE PROFE Y LOS VAYA COLOCANDO EN LA TABLA-->
{% if profesores %}
        {% for profesor in profesores %}

                <tr>
<br><!--
                    <td align="center">{{ profesor.programa|truncatechars:15}}</td>
                    <td align="center">{{ profesor.facultad_programa|truncatechars:15}}</td>
                -->
                    <td align="center">{{ profesor.nombre_curso}}<br></td>
                    <td align="center">{{ profesor.NRC }}</td>
                    <td align="center">{{ profesor.n_alumnos }} </td>
                    <td align="center">{{ profesor.n_alumnos_responden }} </td>
                    <td align="center">{{ profesor.respuestas }}% </td>
                    <td align="center">{{ profesor.P1 }}%</td>
                    <td align="center">{{ profesor.P2 }}%</td>
                    <td align="center">{{ profesor.P3 }}%</td>
                    <td align="center">{{ profesor.P4 }}%</td>
                    <td align="center">{{ profesor.P5 }}%</td>
                    <td align="center">{{ profesor.P6 }}%</td>
                    <td align="center">{{ profesor.P7 }}%</td>
                    <td align="center"><b>{{ profesor.evaluacion_promedio}}%</td>
                </tr>
   
        {% endfor %}
         </table>    
{% endif %}
 <hr class='hrItem' />




    </body>
</html>