{% extends 'index.html' %}

{% block content %} 
	<title>LISTADO DOCENTE</title>

	


	<div class="container-fluid">
	<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DOCENTES</h6>
              
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
			
				<tr>
					<td align="center">RUT</td>
					<td align="center">Nombre Docente</td>
					<td align="center">Ver Reporte</td>
			</tr>
		</thead>

			<tbody>
				{% if profesores %}
				{% for profesor in profesores %}
				<tr>
					<td align="center">{{ profesor.RUT }}</td>
					<td align="center">{{ profesor.nombre_docente }}</td>
					<td align="center"><a href="{% url 'reporte' profesor.RUT %}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-file-pdf"></i></a>
			      </td>
				</tr>
				{% endfor %}
				
				{% else %}
				<h1>No hay registros de docentes.</h1>

				{% endif %}
			</tbody>
			</table>
              </div>
            </div>
          </div>
           </div>
{% endblock %}
